
#firebaseui-auth-container
{
    left: 0;
    margin: 0 auto;
    right: 0;
}

.action
{
    font-size: 120pt;
    top: 45%;
}

.body
{
    margin: 0 20%;
    width: 60%;
}

.breakBox
{
    background-color: #B5FFAA;
    border-radius: 40px;
    color: white;
    font-family: 'Sen', sans-serif;
    left: 10%;
    margin: 0 0 5vw 0;
    position: relative;
    text-align: center;
    width: 80%;
}

.breakBoxText
{
    font-size: 40pt;
    margin: 0;
    padding: 4pt 20pt;
}

.buttonContainer
{
    height: 60vw;
    position: relative;
}

.counter
{
    font-size: 50pt;
    top: 70%;
}

.header
{
    background-color: #FFCC80;
    display: flex;
    flex-direction: row-reverse;
    height: 80px;
    position: relative;
    width: 100%;
}

.header > *
{
    font-family: 'Sen', sans-serif;
    font-size: 30pt;
    padding: 0 20px 0 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%)
}

.history
{
    font-size: 20pt;
    position: relative;
}

.icon
{
    font-size: 80pt;
    top: 25%;
}

.inButtonContainer
{
    color: white;
    font-family: 'Sen', sans-serif;
    position: absolute;
    text-align: center;
    transform : translateY(-130%);
    width: 100%;
}

.status
{
    font-family: 'Sen', sans-serif;
    font-size: 60pt;
    margin: 5vh 0 0 0;
    position: relative;
}

body
{
    margin: 0;
}

td
{
    padding: 2px 10px
}
